body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #333;
}
.title {
    font-size: 30px;
    font-weight: bold;
    color: #f8c48c;
    text-transform: uppercase;
    letter-spacing: normal;
    margin: 0;
}
.company-informations {
    color: #2B4A7D;
    font-size: 0.9rem;
}
.reference-informations {
    color: gainsboro;
    font-size: 0.9rem;
}
.locations span {
    margin: 0 5px;
    color: #666;
}
.logo img {
    max-width: 150px;
    height: auto;
}
.header-section {
    color: #666;
}
.client-box {
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
}
.souligner {
    text-decoration: underline;
}
.text-muted {
    color: #999 !important;
}
table.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
}
table.invoice-table th,
table.invoice-table td {
    border: 1px solid #000;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
}
table.invoice-table thead th {
    background-color: #eaeaea;
    font-weight: bold;
    border-bottom: 2px solid #000;
}
table.invoice-table tbody tr:first-child td {
    border-bottom: none;
}
table.invoice-table td:last-child,
table.invoice-table th:last-child {
    width: 200px;
    background-color: #eaeaea;
    border: 1px solid #000;
    text-align: center;
    font-weight: bold;
}
tfoot tr.no-border td {
    border: none;
}
tfoot td.align-right {
    text-align: right;
    padding-right: 20px;
}
tfoot td.align-left {
    text-align: unset;
    padding-right: 20px;
}
.no-border td {
    border: none;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
 .align-right {
    text-align: right;
  }
